*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6DDFF2, #c89cff, #f98aec);
}
.menu-container{
    width: 90%;
    max-width: 1100px;
    text-align: center;
}
.menu-container h1{
    color: white;
    margin-bottom: 40px;
    font-size: 45px;
    letter-spacing: 2px;
}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}
.card{
    height: 240px;
    background: rgba(255,255,255,0.18);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.card:hover{
    transform: translateY(-10px) scale(1.03);
    background: rgba(255,255,255,0.25);
}
.card i{
    font-size: 85px;
    margin-bottom: 20px;
}
.card span{
    font-size: 28px;
    font-weight: bold;
}